Repository hashicorp/katakoda, pull requests merged in 2020-12, with the labels that each got.

#293 Hide scenarios on Katacoda.com
  boundary-intro/index.json
  consul-application-aware-intentions/index.json
  consul-hcs-azure/index.json
  consul-mesh-gateways/index.json
  consul-secure-acl-vault/index.json
  consul-secure-gossip-vault/index.json
  consul-secure-tls-vault/index.json
  consul-upstream-load-balancing/index.json
  nomad-introduction/index.json
  playground/index.json
  securing-nomad/configure-mtls/index.json
  securing-nomad/enable-acls/index.json
  securing-nomad/encrypt-gossip/index.json
  terraform-build-modules/index.json
  terraform-cloud/index.json
  terraform-organize-configuration/index.json
  terraform-use-modules/index.json
  vault-GS-first-secrets/index.json
  vault-ent-playground/index.json
  vault-openldap/index.json
Labels: Platform

#292 Adds the password policy step to the scenario
  vault-dynamic-secrets/assets/admin-policy.hcl
  vault-dynamic-secrets/index.json
  vault-dynamic-secrets/step6.md
Labels: Vault

#294 Upgrade to Boundary 0.1.2
  environments/hashistack/build/1_hashicorp_tools.sh
Labels: Boundary

#295 Specify 30 minute timeout for all scenarios
  boundary-intro/index.json
  consul-application-aware-intentions/index.json
  consul-connect/index.json
  consul-hcs-azure/index.json
  consul-l7-observability-kubernetes/index.json
  consul-mesh-gateways/index.json
  nomad-introduction/index.json
  nomad-openfaas/index.json
  nomad-reverse-proxy/index.json
  playground/index.json
  terraform-cloud/index.json
  terraform-consul-provider/index.json
  terraform-docker/index.json
  terraform-infrastructure-pipelines/index.json
  terraform-organize-configuration-workshop/index.json
  terraform-provider-intro/index.json
  terraform-sentinel-intro/index.json
  terraform-sentinel/index.json
  vault-GS-policy/index.json
  vault-agent-templates/index.json
  vault-agent/index.json
  vault-approle/index.json
  vault-auth/index.json
  vault-auto-unseal/index.json
  vault-batch-tokens/index.json
  vault-cubbyhole/index.json
  vault-dynamic-secrets/index.json
  vault-ent-playground/index.json
  vault-identity/index.json
  vault-kubernetes-cert-manager/index.json
  vault-kubernetes-csi/index.json
  vault-kubernetes-external-vault/index.json
  vault-kubernetes-sidecar/index.json
  vault-minikube/index.json
  vault-openshift/index.json
  vault-operations-jp/index.json
  vault-operations/index.json
  vault-password-policies/index.json
  vault-playground-2/index.json
  vault-playground/index.json
  vault-policies/index.json
  vault-policy-templating/index.json
  vault-raft-ha/index.json
  vault-raft/index.json
  vault-resource-quotas/index.json
  vault-sm-ssh-otp/index.json
  vault-static-secrets/index.json
  vault-telemetry-splunk/index.json
  vault-terraform-ent/index.json
  vault-terraform-oss/index.json
  vault-tokens/index.json
  vault-tools/index.json
  vault-transform/index.json
Labels: Boundary, Consul, Nomad, Terraform, Vault, Waypoint

#297 Switching to use hashicorp-hashistack to fix the environment issues
  vault-raft-ha/env-init.sh
  vault-raft-ha/index.json
  vault-raft-test/Makefile
  vault-raft-test/assets/Vault_Icon_FullColor.png
  vault-raft-test/assets/config-node1.hcl
  vault-raft-test/assets/config-node2.hcl
  vault-raft-test/assets/config-node3.hcl
  vault-raft-test/assets/katacoda-new-file.png
  vault-raft-test/assets/ops-another-terminal-2.png
  vault-raft-test/assets/ops-another-terminal.png
  vault-raft-test/assets/raft-storage.png
  vault-raft-test/assets/thinker.jpg
  vault-raft-test/env-init.sh
  vault-raft-test/finish.md
  vault-raft-test/index.json
  vault-raft-test/intro.md
  vault-raft-test/step1.md
  vault-raft-test/step2.md
  vault-raft-test/step3.md
  vault-raft-test/step4.md
  vault-raft-test/step5.md
  vault-raft/env-init.sh
  vault-raft/index.json
Labels: Vault
