Repository hashicorp/katakoda, pull requests merged in 2020-10, with the labels that each got.

#236 Change the base image to ubuntu
  vault-raft-ha/assets/config-node1.hcl
  vault-raft-ha/assets/config-node2.hcl
  vault-raft-ha/assets/config-node3.hcl
  vault-raft-ha/env-init.sh
  vault-raft-ha/index.json
  vault-raft-ha/step1.md
  vault-raft/assets/config-node1.hcl
  vault-raft/assets/config-node2.hcl
  vault-raft/assets/config-node3.hcl
  vault-raft/env-init.sh
  vault-raft/index.json
  vault-raft/step1.md
Labels: Vault

#237 Removed unnecessary export
  vault-raft-ha/env-init.sh
  vault-raft/env-init.sh
Labels: Vault

#242 Replaces the service with a nohup process
  vault-dynamic-secrets/step0.setup.sh
  vault-eaas-transit-rewrap/step0.setup.sh
  vault-openldap/step0.setup.sh
  vault-pki-engine/step0.setup.sh
Labels: Vault

#246 Rln pipelines workshop updates
  terraform-infrastructure-pipelines-workshop/assets/github-edit.png
  terraform-infrastructure-pipelines-workshop/assets/queue-plan.png
  terraform-infrastructure-pipelines-workshop/courseBase.sh
  terraform-infrastructure-pipelines-workshop/deploy-k8s-consul-vault.md
  terraform-infrastructure-pipelines-workshop/finish.md
  terraform-infrastructure-pipelines-workshop/setup-consul-workspace.md
  terraform-infrastructure-pipelines-workshop/setup-k8s-workspace.md
  terraform-infrastructure-pipelines-workshop/setup-vault-workspace.md
  terraform-infrastructure-pipelines-workshop/verify-deployments.md
Labels: Terraform

#247 Use html list format inside details tag
  terraform-infrastructure-pipelines-workshop/setup-consul-workspace.md
  terraform-infrastructure-pipelines-workshop/setup-k8s-workspace.md
  terraform-infrastructure-pipelines-workshop/setup-vault-workspace.md
Labels: Terraform

#250 Updates from gamma teach feedback
  terraform-infrastructure-pipelines-workshop/finish.md
  terraform-infrastructure-pipelines-workshop/verify-deployments.md
Labels: Terraform

#244 Consul Upstream Load Balancing lab
  consul-upstream-load-balancing/assets/agent.hcl
  consul-upstream-load-balancing/assets/consul-lb-envoy-client-service.png
  consul-upstream-load-balancing/assets/consul-lb-envoy-ingress-gw.png
  consul-upstream-load-balancing/assets/default.hcl
  consul-upstream-load-balancing/assets/hash-resolver.hcl
  consul-upstream-load-balancing/assets/igw-backend.hcl
  consul-upstream-load-balancing/assets/least-req-resolver.hcl
  consul-upstream-load-balancing/assets/server.hcl
  consul-upstream-load-balancing/assets/svc-client.hcl
  consul-upstream-load-balancing/assets/svc-clone.hcl
  consul-upstream-load-balancing/assets/svc-main.hcl
  consul-upstream-load-balancing/courseBase.sh
  consul-upstream-load-balancing/finish.md
  consul-upstream-load-balancing/index.json
  consul-upstream-load-balancing/intro.md
  consul-upstream-load-balancing/provision.code.sh
  consul-upstream-load-balancing/provision.courseData.sh
  consul-upstream-load-balancing/provision.md
  consul-upstream-load-balancing/provision.verify.sh
  consul-upstream-load-balancing/set-env.sh
  consul-upstream-load-balancing/step1.md
  consul-upstream-load-balancing/step2.md
  consul-upstream-load-balancing/step3.md
  consul-upstream-load-balancing/step4.md
Labels: Consul

#263 Initial Waypoint tutorial
  waypoint-get-started/Makefile
  waypoint-get-started/courseBase.sh
  waypoint-get-started/finish.md
  waypoint-get-started/index.json
  waypoint-get-started/intro.md
  waypoint-get-started/step1.md
Labels: Waypoint

#262 Adds Waypoint and Boundary to HashiStack
  environments/hashistack/build/1_hashicorp_tools.sh
Labels: Environment

#264 Adds instructions for Waypoint scenario
  waypoint-get-started/step1.md
Labels: Waypoint

#265 [Vault] Remove note about shortcut
  vault-GS-first-secrets/step1.md
  vault-GS-policy/step1.md
  vault-agent-templates/step1.md
  vault-agent/step1.md
  vault-approle/step1.md
  vault-auth/step1.md
  vault-batch-tokens/step1.md
  vault-cubbyhole/step1.md
  vault-ent-playground/step1.md
  vault-identity/step1.md
  vault-playground-2/getting-started.md
  vault-playground/getting-started.md
  vault-policies/step1.md
  vault-policy-templating/getting-started.md
  vault-policy-templating/step1.md
  vault-raft-ha/step1.md
  vault-raft/step1.md
  vault-resource-quotas/step1.md
  vault-static-secrets/step1.md
  vault-telemetry-splunk/01-start-containers.md
  vault-terraform-ent/step1.md
  vault-terraform-oss/step1.md
  vault-tokens/step1.md
  vault-tools/step1.md
  vault-transform-hashiconf/step1.md
  vault-transform/step1.md
  vault-transit/step1.md
Labels: Vault

#251 Application aware intentions scenario
  consul-application-aware-intentions/assets/agent-client.hcl
  consul-application-aware-intentions/assets/agent-server.hcl
  consul-application-aware-intentions/assets/config-intentions-api.hcl
  consul-application-aware-intentions/assets/config-intentions-default.hcl
  consul-application-aware-intentions/assets/config-intentions-web.hcl
  consul-application-aware-intentions/assets/config-proxy-defaults.hcl
  consul-application-aware-intentions/assets/config-service-api.hcl
  consul-application-aware-intentions/assets/config-service-counting.hcl
  consul-application-aware-intentions/assets/config-service-dashboard.hcl
  consul-application-aware-intentions/assets/config-service-web.hcl
  consul-application-aware-intentions/assets/consul-ui-intentions-deny-all-active.png
  consul-application-aware-intentions/assets/igw-dashboard.hcl
  consul-application-aware-intentions/assets/igw-web.hcl
  consul-application-aware-intentions/assets/svc-api.hcl
  consul-application-aware-intentions/assets/svc-client.hcl
  consul-application-aware-intentions/assets/svc-clone.hcl
  consul-application-aware-intentions/assets/svc-counting.json
  consul-application-aware-intentions/assets/svc-dashboard.json
  consul-application-aware-intentions/assets/svc-main.hcl
  consul-application-aware-intentions/assets/svc-web.hcl
  consul-application-aware-intentions/assets/web-service-ui-fail.png
  consul-application-aware-intentions/courseBase.sh
  consul-application-aware-intentions/finish.md
  consul-application-aware-intentions/index.json
  consul-application-aware-intentions/intro.md
  consul-application-aware-intentions/provision.code.sh
  consul-application-aware-intentions/provision.courseData.sh
  consul-application-aware-intentions/provision.md
  consul-application-aware-intentions/provision.verify.sh
  consul-application-aware-intentions/set-env.sh
  consul-application-aware-intentions/step0.md
  consul-application-aware-intentions/step1.md
  consul-application-aware-intentions/step2.md
  consul-application-aware-intentions/step3.md
  consul-application-aware-intentions/step4.md
Labels: Consul

#266 Updates waypoint with a static example
  waypoint-get-started/step1.md
Labels: Waypoint

#267 This is to troubleshoot a reported error via Discussion forum
  boundary-intro/assets/Vault-Intro.png
  boundary-intro/assets/Vault_Icon_FullColor.png
  boundary-intro/assets/main.tf
  boundary-intro/assets/ops-another-terminal-2.png
  boundary-intro/assets/ops-another-terminal.png
  boundary-intro/assets/rekey-and-rotate.png
  boundary-intro/assets/vault-autounseal.png
  boundary-intro/env-init.sh
  boundary-intro/finish.md
  boundary-intro/index.json
  boundary-intro/intro.md
  boundary-intro/step1.md
  boundary-intro/step2.md
  boundary-intro/step3.md
  boundary-intro/step4.md
Labels: Boundary

#268 Minor updates for readability
  boundary-intro/step2.md
  boundary-intro/step3.md
Labels: Boundary
