Repository hashicorp/katakoda, pull requests merged in 2020-08, with the labels that each got.

#182 Add scenario for provider use tutorial
  terraform-provider-intro/courseBase.sh
  terraform-provider-intro/finish.md
  terraform-provider-intro/hashicups.verify.sh
  terraform-provider-intro/index.json
  terraform-provider-intro/intro.md
  terraform-provider-intro/order-create.md
  terraform-provider-intro/order-delete.md
  terraform-provider-intro/order-update.md
  terraform-provider-intro/overview.md
  terraform-provider-intro/read-coffee-ingredients.md
Labels: Terraform

#183 Added L7 tutorial katacoda experience.
  consul-l7-observability-kubernetes/finish.md
  consul-l7-observability-kubernetes/index.json
  consul-l7-observability-kubernetes/intro.md
  consul-l7-observability-kubernetes/provision.code.sh
  consul-l7-observability-kubernetes/provision.courseData.sh
  consul-l7-observability-kubernetes/provision.md
  consul-l7-observability-kubernetes/provision.verify.sh
  consul-l7-observability-kubernetes/step1.md
  consul-l7-observability-kubernetes/step2.md
  consul-l7-observability-kubernetes/step3.md
  consul-l7-observability-kubernetes/step4.md
  consul-l7-observability-kubernetes/step5.md
  consul-l7-observability-kubernetes/step6.md
  consul-l7-observability-kubernetes/step7.md
Labels: Consul

#185 Adds the Vault OpenLDAP scenario
  vault-openldap/assets/admin-policy.hcl
  vault-openldap/assets/alice-policy.hcl
  vault-openldap/assets/learn-vault-example.ldif
  vault-openldap/finish.md
  vault-openldap/index.json
  vault-openldap/intro.md
  vault-openldap/step-prereq.md
  vault-openldap/step-prereq.setup.sh
  vault-openldap/step0.md
  vault-openldap/step0.setup.sh
  vault-openldap/step1.md
  vault-openldap/step2.md
  vault-openldap/step3.md
  vault-openldap/step4.md
  vault-openldap/step5.md
  vault-openldap/step5.setup.sh
Labels: Vault

#187 Upgrade Vault version to v1.5.3
  environments/hashistack-ent/build/1_hashicorp_tools.sh
  environments/hashistack/build/1_hashicorp_tools.sh
  vault-operations-jp/step1.md
  vault-operations-jp/step3.md
  vault-raft-ha/env-init.sh
  vault-raft-ha/step2.md
  vault-raft/env-init.sh
Labels: Vault
