Repository hashicorp/katakoda, pull requests merged in 2020-06, with the labels that each got.

#60 Adds the minikube scenario for Katacoda
  vault-minikube/assets/deployment-01-webapp.yml
  vault-minikube/assets/helm-consul-values.yml
  vault-minikube/assets/helm-vault-values.yml
  vault-minikube/courseBase.sh
  vault-minikube/finish.md
  vault-minikube/index.json
  vault-minikube/intro.md
  vault-minikube/step1.md
  vault-minikube/step2.md
  vault-minikube/step3.md
  vault-minikube/step4.md
  vault-minikube/step5.md
  vault-minikube/step6.md
  vault-minikube/step7.md
Labels: Vault

#69 Add scenario for HashiConf EU workshop
  vault-raft-hashiconf/Makefile
  vault-raft-hashiconf/assets/config-node1.hcl
  vault-raft-hashiconf/assets/config-node2.hcl
  vault-raft-hashiconf/assets/config-node3.hcl
  vault-raft-hashiconf/challenge-1-solution.md
  vault-raft-hashiconf/challenge-1.md
  vault-raft-hashiconf/env-init.sh
  vault-raft-hashiconf/finish.md
  vault-raft-hashiconf/index.json
  vault-raft-hashiconf/intro.md
  vault-raft-hashiconf/step1.md
  vault-raft-hashiconf/step2.md
  vault-raft-hashiconf/step3.md
  vault-raft-hashiconf/step4.md
  vault-raft-hashiconf/step5.md
  vault-transform-hashiconf/index.json
Labels: Vault

#70 Adds "Infrastructure Pipelines HashiConf Digital Workshop"
  infrastructure-pipelines-workshop/assets/configure-vcs.png
  infrastructure-pipelines-workshop/assets/enable-run-triggers.png
  infrastructure-pipelines-workshop/assets/include-submodules.png
  infrastructure-pipelines-workshop/clean-up.md
  infrastructure-pipelines-workshop/courseBase.sh
  infrastructure-pipelines-workshop/deploy-k8s-consul-vault.md
  infrastructure-pipelines-workshop/finish.md
  infrastructure-pipelines-workshop/index.json
  infrastructure-pipelines-workshop/intro.md
  infrastructure-pipelines-workshop/setup-consul-workspace.md
  infrastructure-pipelines-workshop/setup-k8s-workspace.md
  infrastructure-pipelines-workshop/setup-vault-workspace.md
  infrastructure-pipelines-workshop/verify-deployments.md
Labels: Terraform

#72 remove clean up step from infra pipelines workshop scenario, because …
  infrastructure-pipelines-workshop/deploy-k8s-consul-vault.md
  infrastructure-pipelines-workshop/index.json
Labels: Terraform

#78 Consul Service Mesh Workshop Labs
  consul_service_mesh_1/assets/api.yml
  consul_service_mesh_1/assets/consul-values.yml
  consul_service_mesh_1/assets/web.yml
  consul_service_mesh_1/courseBase.sh
  consul_service_mesh_1/finish.md
  consul_service_mesh_1/index.json
  consul_service_mesh_1/intro.md
  consul_service_mesh_1/provision.code.sh
  consul_service_mesh_1/provision.courseData.sh
  consul_service_mesh_1/provision.md
  consul_service_mesh_1/provision.verify.sh
  consul_service_mesh_1/set-env.sh
  consul_service_mesh_1/step1.md
  consul_service_mesh_1/step2.md
  consul_service_mesh_1/step3.md
  consul_service_mesh_2/assets/api.yml
  consul_service_mesh_2/assets/consul-values.yml
  consul_service_mesh_2/assets/web.yml
  consul_service_mesh_2/courseBase.sh
  consul_service_mesh_2/finish.md
  consul_service_mesh_2/index.json
  consul_service_mesh_2/intro.md
  consul_service_mesh_2/provision.code.sh
  consul_service_mesh_2/provision.courseData.sh
  consul_service_mesh_2/provision.md
  consul_service_mesh_2/provision.verify.sh
  consul_service_mesh_2/set-env.sh
  consul_service_mesh_2/step1.md
  consul_service_mesh_2/step2.md
  consul_service_mesh_2/step3.md
  consul_service_mesh_3/assets/api.yml
  consul_service_mesh_3/assets/consul-values.yml
  consul_service_mesh_3/assets/web.yml
  consul_service_mesh_3/courseBase.sh
  consul_service_mesh_3/finish.md
  consul_service_mesh_3/index.json
  consul_service_mesh_3/intro.md
  consul_service_mesh_3/provision.code.sh
  consul_service_mesh_3/provision.courseData.sh
  consul_service_mesh_3/provision.md
  consul_service_mesh_3/provision.verify.sh
  consul_service_mesh_3/set-env.sh
  consul_service_mesh_3/step1.md
  consul_service_mesh_3/step2.md
  consul_service_mesh_3/step3.md
  training/consul-service-mesh-pathway.json
Labels: Consul

#81 Secure Consul Labs
  consul-security-acl/assets/agent_template.hcl
  consul-security-acl/assets/client.json
  consul-security-acl/assets/client_policy.hcl
  consul-security-acl/assets/read_policy.hcl
  consul-security-acl/assets/server.hcl
  consul-security-acl/assets/server.json
  consul-security-acl/assets/server_policy.hcl
  consul-security-acl/finish.md
  consul-security-acl/index.json
  consul-security-acl/intro.md
  consul-security-acl/provision.code.sh
  consul-security-acl/provision.courseData.sh
  consul-security-acl/provision.md
  consul-security-acl/provision.verify.sh
  consul-security-acl/step1.md
  consul-security-acl/step2.md
  consul-security-acl/step3.md
  consul-security-acl/step4.md
  consul-security-acl/step5.md
  consul-security-acl/step6.md
  consul-security-tls/assets/client.json
  consul-security-tls/assets/server.json
  consul-security-tls/finish.md
  consul-security-tls/index.json
  consul-security-tls/intro.md
  consul-security-tls/provision.code.sh
  consul-security-tls/provision.courseData.sh
  consul-security-tls/provision.md
  consul-security-tls/provision.verify.sh
  consul-security-tls/step1.md
  consul-security-tls/step2.md
  consul-security-tls/step3.md
  consul-security-tls/step4.md
  consul-security-tls/step5.md
  consul-security-tls/step6.md
  training/consul-security-pathway.json
Labels: Consul

#86 Fix misplaced definition
  training/vault-minikube-pathway.json
  training/vault-raft-pathway.json
Labels: Vault

#88 Add Consul Mesh Gateways scenario
  consul-mesh-gateways/assets/api.yml
  consul-mesh-gateways/assets/cluster-blueprint/README.md
  consul-mesh-gateways/assets/cluster-blueprint/ingress.hcl
  consul-mesh-gateways/assets/cluster-blueprint/k8s-dashboard.yml
  consul-mesh-gateways/assets/cluster-blueprint/k8s.hcl
  consul-mesh-gateways/assets/cluster-blueprint/network.hcl
  consul-mesh-gateways/assets/dc1-values.yml
  consul-mesh-gateways/assets/dc2-values.yml
  consul-mesh-gateways/assets/web.yml
  consul-mesh-gateways/finish.md
  consul-mesh-gateways/index.json
  consul-mesh-gateways/intro.md
  consul-mesh-gateways/provision.code.sh
  consul-mesh-gateways/provision.courseData.sh
  consul-mesh-gateways/provision.md
  consul-mesh-gateways/provision.verify.sh
  consul-mesh-gateways/step1.md
  consul-mesh-gateways/step2.md
  consul-mesh-gateways/step3.md
  consul-mesh-gateways/step4.md
  consul-mesh-gateways/step5.md
  consul-mesh-gateways/step6.md
  consul-mesh-gateways/step7.md
  consul-mesh-gateways/step_cs.md
  training/consul-mesh-gateways-pathway.json
Labels: Consul

#92 Refactor Consul Service Mesh Scenarios
  consul-service-mesh-1/index.json
  consul-service-mesh-1/step1.md
  consul-service-mesh-1/step2.md
  consul-service-mesh-1/step3.md
  consul-service-mesh-2/index.json
  consul-service-mesh-2/provision.courseData.sh
  consul-service-mesh-2/step1.md
  consul-service-mesh-2/step2.md
  consul-service-mesh-2/step3.md
  consul-service-mesh-3/finish.md
  consul-service-mesh-3/index.json
  consul-service-mesh-3/provision.courseData.sh
  consul-service-mesh-3/step1.md
  consul-service-mesh-3/step3.md
Labels: Consul

#93 Changed title to Consul Mesh Gateways on Kubernetes
  consul-mesh-gateways/assets/cluster-blueprint/README.md
  consul-mesh-gateways/index.json
  consul-mesh-gateways/step5.md
  consul-mesh-gateways/step6.md
  consul-mesh-gateways/step7.md
Labels: Consul

#98 [Nomad] Update Connect Lab
  nomad-connect-acls/01-enable.md
  nomad-connect-acls/02-consul_policy.md
  nomad-connect-acls/03-consul_agent_token.md
  nomad-connect-acls/04-nomad_policy.md
  nomad-connect-acls/05-nomad_config.md
  nomad-connect-acls/finish.md
  nomad-connect-acls/index.json
  nomad-connect-acls/intro.md
Labels: Nomad

#108 Remove reference to an image on S3 bucket
  consul-connect/assets/images/ops-another-terminal.png
  consul-connect/step2.md
Labels: Consul

#109 Add initial DRAFT of telemtry with Splunk scenario
  vault-telemetry-splunk/01-start-containers.md
  vault-telemetry-splunk/01-start-containers.md.verify.sh
  vault-telemetry-splunk/02-initialize-and-unseal-vault.md
  vault-telemetry-splunk/02-initialize-and-unseal-vault.md.verify.sh
  vault-telemetry-splunk/02-initialize-and-unseal-vault.terminal.sh
  vault-telemetry-splunk/03-access-splunk-web.md
  vault-telemetry-splunk/04-perform-actions-to-generate-metrics.md
  vault-telemetry-splunk/04-perform-actions-to-generate-metrics.md.verify.sh
  vault-telemetry-splunk/04-perform-actions-to-generate-metrics.terminal.sh
  vault-telemetry-splunk/05-analyze-generated-metrics.md
  vault-telemetry-splunk/05-analyze-generated-metrics.md.verify.sh
  vault-telemetry-splunk/05-analyze-generated-metrics.terminal.sh
  vault-telemetry-splunk/Makefile
  vault-telemetry-splunk/README.md
  vault-telemetry-splunk/assets/main.tf
  vault-telemetry-splunk/assets/vtl/config/default.yml
  vault-telemetry-splunk/assets/vtl/config/telegraf.conf
  vault-telemetry-splunk/assets/vtl/config/vault.hcl
  vault-telemetry-splunk/courseBase.sh
  vault-telemetry-splunk/finish.md
  vault-telemetry-splunk/index.json
  vault-telemetry-splunk/intro.md
  vault-telemetry-splunk/terminal.sh
Labels: Vault, WIP

#110 Merge HashiConf EU version
  vault-transform-hashiconf/Makefile
  vault-transform-hashiconf/assets/Vault_Icon_FullColor.png
  vault-transform-hashiconf/assets/input-multiple.json
  vault-transform-hashiconf/assets/payload-batch.json
  vault-transform-hashiconf/assets/vault-transform-1.png
  vault-transform-hashiconf/courseBase.sh
  vault-transform-hashiconf/finish.md
  vault-transform-hashiconf/index.json
  vault-transform-hashiconf/intro.md
  vault-transform-hashiconf/step1.md
  vault-transform-hashiconf/step2.md
  vault-transform-hashiconf/step3.md
  vault-transform-hashiconf/step4.md
  vault-transform-hashiconf/step5.md
  vault-transform-hashiconf/step6.md
  vault-transform-hashiconf/terminal.sh
  vault-transform/assets/input-multiple.json
  vault-transform/assets/thinker.jpg
  vault-transform/assets/vault-transform-2.png
  vault-transform/assets/vault-transform.png
  vault-transform/challenge-1-sol.md
  vault-transform/challenge-1.md
  vault-transform/challenge-2-sol.md
  vault-transform/challenge-2.md
  vault-transform/index.json
  vault-transform/intro.md
  vault-transform/step1.md
  vault-transform/step2.md
  vault-transform/step3.md
  vault-transform/step4.md
  vault-transform/step5.md
Labels: Vault

#111 Merge HashiConf EU version
  vault-raft-hashiconf/Makefile
  vault-raft-hashiconf/assets/Vault_Icon_FullColor.png
  vault-raft-hashiconf/assets/config-node1.hcl
  vault-raft-hashiconf/assets/config-node2.hcl
  vault-raft-hashiconf/assets/config-node3.hcl
  vault-raft-hashiconf/assets/ops-another-terminal-2.png
  vault-raft-hashiconf/assets/ops-another-terminal.png
  vault-raft-hashiconf/assets/raft-storage.png
  vault-raft-hashiconf/challenge-1-solution.md
  vault-raft-hashiconf/challenge-1.md
  vault-raft-hashiconf/env-init.sh
  vault-raft-hashiconf/finish.md
  vault-raft-hashiconf/index.json
  vault-raft-hashiconf/intro.md
  vault-raft-hashiconf/step1.md
  vault-raft-hashiconf/step2.md
  vault-raft-hashiconf/step3.md
  vault-raft-hashiconf/step4.md
  vault-raft-hashiconf/step5.md
  vault-raft/assets/config-node3.hcl
  vault-raft/assets/katacoda-new-file.png
  vault-raft/assets/thinker.jpg
  vault-raft/index.json
  vault-raft/intro.md
  vault-raft/step1.md
  vault-raft/step2.md
  vault-raft/step3.md
  vault-raft/step4.md
  vault-raft/step5.md
  vault-transform/index.json
Labels: Vault
