Repository hashicorp/katakoda, pull requests merged in 2020-09, with the labels that each got.

#170 Added favicon for branding
  consul-secure-on-kubernetes/index.json
Labels: Consul

#189 Pinned consul-helm chart version
  consul-mesh-gateways/step1.md
  consul-mesh-gateways/step3.md
Labels: Consul

#196 Brings scenario inline with tutorial
  vault-dynamic-secrets/assets/admin-policy.hcl
  vault-dynamic-secrets/assets/readonly.sql
  vault-dynamic-secrets/assets/step5.md
  vault-dynamic-secrets/courseBase.sh
  vault-dynamic-secrets/index.json
  vault-dynamic-secrets/step-prereq.md
  vault-dynamic-secrets/step0.md
  vault-dynamic-secrets/step0.setup.sh
  vault-dynamic-secrets/step1.md
  vault-dynamic-secrets/step2.md
  vault-dynamic-secrets/step3.md
  vault-dynamic-secrets/step4.md
  vault-dynamic-secrets/terminal.sh
Labels: Vault

#198 Setup training for Vault digital workshops
  training/vault-minikube-pathway.json
  training/vault-raft-pathway.json
  training/vault-transform-pathway.json
Labels: Vault

#199 Fixed id in the pathway file
  training/vault-raft-pathway.json
  training/vault-transform-pathway.json
Labels: Vault

#197 Add HashiCorp packages, Azure command, and Ubuntu 18
  environments/hashistack/Dockerfile
  environments/hashistack/Makefile
  environments/hashistack/README.md
  environments/hashistack/build/1_hashicorp_tools.sh
  environments/hashistack/katacoda.yaml
Labels: Consul

#205 Update callout notes
  vault-raft-ha/step1.md
  vault-raft/step1.md
  vault-raft/step2.md
  vault-raft/step3.md
Labels: Vault

#193 Consul + Vault - Gossip Encryption
  consul-secure-gossip-vault/assets/consul_template.hcl
  consul-secure-gossip-vault/assets/consul_template_autorotate.hcl
  consul-secure-gossip-vault/assets/gossip.key.tpl
  consul-secure-gossip-vault/assets/rotate_key.sh
  consul-secure-gossip-vault/assets/server.hcl
  consul-secure-gossip-vault/courseBase.sh
  consul-secure-gossip-vault/finish.md
  consul-secure-gossip-vault/index.json
  consul-secure-gossip-vault/intro.md
  consul-secure-gossip-vault/provision.code.sh
  consul-secure-gossip-vault/provision.courseData.sh
  consul-secure-gossip-vault/provision.md
  consul-secure-gossip-vault/provision.verify.sh
  consul-secure-gossip-vault/set-env.sh
  consul-secure-gossip-vault/step0.md
  consul-secure-gossip-vault/step1.md
  consul-secure-gossip-vault/step2.md
  consul-secure-gossip-vault/step3.md
  consul-secure-gossip-vault/step4.md
  consul-secure-gossip-vault/step5.md
Labels: Consul, Vault

#209 Move logs and folders
  consul-secure-gossip-vault/assets/server.hcl
  consul-secure-gossip-vault/step0.md
  consul-secure-gossip-vault/step3.md
Labels: Consul

#194 Consul + Vault - ACLs
  consul-secure-acl-vault/assets/server.hcl
  consul-secure-acl-vault/assets/server_policy.hcl
  consul-secure-acl-vault/courseBase.sh
  consul-secure-acl-vault/finish.md
  consul-secure-acl-vault/index.json
  consul-secure-acl-vault/intro.md
  consul-secure-acl-vault/provision.code.sh
  consul-secure-acl-vault/provision.courseData.sh
  consul-secure-acl-vault/provision.md
  consul-secure-acl-vault/provision.verify.sh
  consul-secure-acl-vault/set-env.sh
  consul-secure-acl-vault/step0.md
  consul-secure-acl-vault/step1.md
  consul-secure-acl-vault/step2.md
  consul-secure-acl-vault/step3.md
  consul-secure-acl-vault/step4.md
  consul-secure-acl-vault/step5.md
Labels: Consul, Vault

#195 Consul + Vault - TLS
  consul-secure-tls-vault/assets/agent.crt.tpl
  consul-secure-tls-vault/assets/agent.key.tpl
  consul-secure-tls-vault/assets/agent_template.hcl
  consul-secure-tls-vault/assets/ca.crt.tpl
  consul-secure-tls-vault/assets/cli.crt.tpl
  consul-secure-tls-vault/assets/cli.key.tpl
  consul-secure-tls-vault/assets/client.json
  consul-secure-tls-vault/assets/client_policy.hcl
  consul-secure-tls-vault/assets/consul_template.hcl
  consul-secure-tls-vault/assets/read_policy.hcl
  consul-secure-tls-vault/assets/server-tls.json
  consul-secure-tls-vault/assets/server.json
  consul-secure-tls-vault/assets/server_policy.hcl
  consul-secure-tls-vault/courseBase.sh
  consul-secure-tls-vault/finish.md
  consul-secure-tls-vault/index.json
  consul-secure-tls-vault/intro.md
  consul-secure-tls-vault/provision.code.sh
  consul-secure-tls-vault/provision.courseData.sh
  consul-secure-tls-vault/provision.md
  consul-secure-tls-vault/provision.verify.sh
  consul-secure-tls-vault/set-env.sh
  consul-secure-tls-vault/step0.md
  consul-secure-tls-vault/step1.md
  consul-secure-tls-vault/step2.md
  consul-secure-tls-vault/step3.md
  consul-secure-tls-vault/step4.md
  consul-secure-tls-vault/step5.md
  consul-secure-tls-vault/step6.md
Labels: Consul, Vault

#210 Added HashiConf HCS workshop lab.
  consul-hcs-azure/assets/frontend.yaml
  consul-hcs-azure/assets/ingress-gateway.hcl
  consul-hcs-azure/assets/postgres.yaml
  consul-hcs-azure/assets/products-api.yaml
  consul-hcs-azure/assets/public-api.yaml
  consul-hcs-azure/finish.md
  consul-hcs-azure/index.json
  consul-hcs-azure/intro.md
  consul-hcs-azure/provision.code.sh
  consul-hcs-azure/provision.courseData.sh
  consul-hcs-azure/provision.md
  consul-hcs-azure/provision.verify.sh
  consul-hcs-azure/step1.md
  consul-hcs-azure/step2.md
  consul-hcs-azure/step3.md
  consul-hcs-azure/step4.md
  consul-hcs-azure/step5.md
  consul-hcs-azure/step6.md
  consul-hcs-azure/step7.md
Labels: Consul

#202 [CI/CD] Add POC Inspec Tests for Hashistack Katacoda image
  environments/hashistack/Makefile
  environments/hashistack/README.md
  environments/hashistack/controls/consul_control.rb
  environments/hashistack/controls/nomad_control.rb
  environments/hashistack/controls/packer_contol.rb
  environments/hashistack/controls/terraform_contol.rb
  environments/hashistack/controls/vault_control.rb
  environments/hashistack/spec.sh
Labels: enhancement

#214 Minor update based on the discovery during beta
  consul-secure-gossip-vault/step3.md
  consul-secure-gossip-vault/step4.md
Labels: Consul

#215 Updated example output on provisioning page.
  consul-hcs-azure/provision.md
  consul-hcs-azure/step4.md
Labels: Consul

#216 Updates based on finding during prep-teach
  vault-transform-hashiconf/challenge-1-sol.md
  vault-transform-hashiconf/challenge-2-sol.md
  vault-transform-hashiconf/index.json
  vault-transform-hashiconf/step1.md
  vault-transform/challenge-2-sol.md
  vault-transform/index.json
Labels: Vault

#217 Fork of pipelines for HC workshop
  terraform-infrastructure-pipelines-workshop/assets/configure-vcs.png
  terraform-infrastructure-pipelines-workshop/assets/consul-auto-queued.png
  terraform-infrastructure-pipelines-workshop/assets/enable-run-triggers.png
  terraform-infrastructure-pipelines-workshop/assets/include-submodules.png
  terraform-infrastructure-pipelines-workshop/clean-up.md
  terraform-infrastructure-pipelines-workshop/courseBase.sh
  terraform-infrastructure-pipelines-workshop/deploy-k8s-consul-vault.md
  terraform-infrastructure-pipelines-workshop/finish.md
  terraform-infrastructure-pipelines-workshop/index.json
  terraform-infrastructure-pipelines-workshop/intro.md
  terraform-infrastructure-pipelines-workshop/setup-consul-workspace.md
  terraform-infrastructure-pipelines-workshop/setup-k8s-workspace.md
  terraform-infrastructure-pipelines-workshop/setup-vault-workspace.md
  terraform-infrastructure-pipelines-workshop/verify-deployments.md
Labels: Terraform

#218 Update wording (AppRole secrets engine)
  vault-approle/step2.md
Labels: Vault
