Repository hashicorp/katakoda, pull requests merged in 2020-07, with the labels that each got.

#120 Update Vault version
  environments/hashistack-ent/build/1_hashicorp_tools.sh
  environments/hashistack-multinode/master/build/master-build.sh
  environments/hashistack/build/1_hashicorp_tools.sh
Labels: Vault

#122 Update Vault version
  vault-operations-jp/step1.md
  vault-operations-jp/step3.md
  vault-raft/env-init.sh
  vault-raft/step1.md
  vault-raft/step2.md
  vault-raft/step3.md
Labels: Vault

#64 Consul Connect
  consul-connect/finish.md
  consul-connect/index.json
  consul-connect/intro.md
  consul-connect/step1.md
  consul-connect/step2.md
  consul-connect/step3.md
  consul-connect/step4.md
  consul-connect/step5.md
Labels: Consul

#114 Adds the external vault kubernetes scenario
  vault-kubernetes-external-vault/assets/deployment-01-external-vault-service.yml
  vault-kubernetes-external-vault/assets/patch-02-inject-secrets.yml
  vault-kubernetes-external-vault/courseBase.sh
  vault-kubernetes-external-vault/finish.md
  vault-kubernetes-external-vault/index.json
  vault-kubernetes-external-vault/intro.md
  vault-kubernetes-external-vault/step1.md
  vault-kubernetes-external-vault/step2.md
  vault-kubernetes-external-vault/step3.md
  vault-kubernetes-external-vault/step4.md
  vault-kubernetes-external-vault/step5.md
  vault-kubernetes-external-vault/step6.md
  vault-minikube/step3.md
Labels: Vault

#113 Adds the Vault Kubernetes Cert Manager scenario
  vault-kubernetes-cert-manager/courseBase.sh
  vault-kubernetes-cert-manager/finish.md
  vault-kubernetes-cert-manager/index.json
  vault-kubernetes-cert-manager/intro.md
  vault-kubernetes-cert-manager/step1.md
  vault-kubernetes-cert-manager/step2.md
  vault-kubernetes-cert-manager/step3.md
  vault-kubernetes-cert-manager/step4.md
  vault-kubernetes-cert-manager/step5.md
  vault-kubernetes-cert-manager/step6.md
  vault-kubernetes-cert-manager/step7.md
Labels: Vault

#128 WIP - Terraform Vault Provider tutorial
  vault-terraform-ent/Makefile
  vault-terraform-ent/assets/Vault_Icon_FullColor.png
  vault-terraform-ent/assets/codify-mgmt-vault.png
  vault-terraform-ent/assets/enterprise/main.tf
  vault-terraform-ent/assets/enterprise/policies/admin-policy.hcl
  vault-terraform-ent/assets/enterprise/policies/fpe-client-policy.hcl
  vault-terraform-ent/assets/katacoda-vault-ui.png
  vault-terraform-ent/assets/main.tf
  vault-terraform-ent/assets/oss/main.tf
  vault-terraform-ent/assets/oss/policies/admin-policy.hcl
  vault-terraform-ent/assets/oss/policies/eaas-client-policy.hcl
  vault-terraform-ent/assets/vault-ui-kv-v2.png
  vault-terraform-ent/assets/vault-ui-secrets-0.png
  vault-terraform-ent/assets/vault-ui-secrets.png
  vault-terraform-ent/assets/vault-ui-transit.png
  vault-terraform-ent/assets/vault-ui-userpass.png
  vault-terraform-ent/courseBase.sh
  vault-terraform-ent/finish.md
  vault-terraform-ent/index.json
  vault-terraform-ent/intro.md
  vault-terraform-ent/step1.md
  vault-terraform-ent/step2.md
  vault-terraform-ent/step3.md
  vault-terraform-ent/step4.md
  vault-terraform-ent/terminal.sh
Labels: Vault

#124 Adds the Vault OpenShift scenario
  vault-openshift/assets/deployment-issues.yml
  vault-openshift/assets/deployment-webapp.yml
  vault-openshift/assets/service-account-issues.yml
  vault-openshift/assets/service-account-webapp.yml
  vault-openshift/assets/vault-policy-issues.hcl
  vault-openshift/assets/vault-policy-webapp.hcl
  vault-openshift/finish.md
  vault-openshift/index.json
  vault-openshift/intro.md
  vault-openshift/step1.md
  vault-openshift/step2.md
  vault-openshift/step3.md
  vault-openshift/step4.md
  vault-openshift/step5.md
Labels: Vault, Vault 1.5

#137 Upgrade to Vault 1.5 RC
  environments/hashistack-cluster/master/build/master-build.sh
  environments/hashistack-ent/build/1_hashicorp_tools.sh
  environments/hashistack/build/1_hashicorp_tools.sh
Labels: Vault

#153 Add missing env var
  vault-terraform-ent/assets/img/Vault_Icon_FullColor.png
  vault-terraform-ent/assets/img/codify-mgmt-vault.png
  vault-terraform-ent/assets/img/katacoda-vault-ui.png
  vault-terraform-ent/assets/vault-ui-transit.png
  vault-terraform-ent/finish.md
  vault-terraform-ent/intro.md
  vault-terraform-ent/step1.md
  vault-terraform-oss/assets/img/Vault_Icon_FullColor.png
  vault-terraform-oss/assets/img/codify-mgmt-vault.png
  vault-terraform-oss/assets/img/katacoda-vault-ui.png
  vault-terraform-oss/assets/img/vault-codify-mgmt-11.png
  vault-terraform-oss/assets/img/vault-codify-mgmt-12.png
  vault-terraform-oss/assets/img/vault-codify-mgmt-13.png
  vault-terraform-oss/assets/img/vault-codify-mgmt-14.png
  vault-terraform-oss/assets/img/vault-ui-kv-v2.png
  vault-terraform-oss/assets/img/vault-ui-secrets-0.png
  vault-terraform-oss/assets/img/vault-ui-secrets.png
  vault-terraform-oss/assets/img/vault-ui-userpass.png
  vault-terraform-oss/assets/main.tf
  vault-terraform-oss/assets/vault-ui-kv-v2.png
  vault-terraform-oss/assets/vault-ui-secrets-0.png
  vault-terraform-oss/assets/vault-ui-secrets.png
  vault-terraform-oss/assets/vault-ui-userpass.png
  vault-terraform-oss/finish.md
  vault-terraform-oss/intro.md
  vault-terraform-oss/step1.md
  vault-terraform-oss/step2.md
Labels: Vault

#127 Adds Vault password policy scenario
  vault-password-policies/assets/example_policy.hcl
  vault-password-policies/finish.md
  vault-password-policies/index.json
  vault-password-policies/intro.md
  vault-password-policies/step1.md
  vault-password-policies/step2.md
  vault-password-policies/step3.md
  vault-password-policies/step4.md
Labels: Vault, Vault 1.5

#158 Add raft ha storage scenario
  vault-raft-ha/Makefile
  vault-raft-ha/assets/Vault_Icon_FullColor.png
  vault-raft-ha/assets/config-node1.hcl
  vault-raft-ha/assets/config-node2.hcl
  vault-raft-ha/assets/config-node3.hcl
  vault-raft-ha/assets/file-storage.png
  vault-raft-ha/assets/katacoda-new-file.png
  vault-raft-ha/assets/ops-another-terminal-2.png
  vault-raft-ha/assets/ops-another-terminal.png
  vault-raft-ha/assets/raft-storage.png
  vault-raft-ha/assets/thinker.jpg
  vault-raft-ha/assets/vault-ha-raft-1.png
  vault-raft-ha/assets/vault-ha-raft-2.png
  vault-raft-ha/assets/vault-ha-raft-3.png
  vault-raft-ha/assets/vault-ha-raft.png
  vault-raft-ha/env-init.sh
  vault-raft-ha/finish.md
  vault-raft-ha/index.json
  vault-raft-ha/intro.md
  vault-raft-ha/step1.md
  vault-raft-ha/step2.md
  vault-raft-ha/step3.md
  vault-raft-ha/step4.md
Labels: Vault, Vault 1.5

#167 Add UI steps
  vault-terraform-ent/index.json
  vault-terraform-ent/step2.md
Labels: Vault

#151 Consul secure on kubernetes
  consul-secure-on-kubernetes/assets/client.yaml
  consul-secure-on-kubernetes/assets/dc1.yaml
  consul-secure-on-kubernetes/assets/secure-dc1.yaml
  consul-secure-on-kubernetes/assets/server.yaml
  consul-secure-on-kubernetes/finish.md
  consul-secure-on-kubernetes/index.json
  consul-secure-on-kubernetes/intro.md
  consul-secure-on-kubernetes/provision.code.sh
  consul-secure-on-kubernetes/provision.courseData.sh
  consul-secure-on-kubernetes/provision.md
  consul-secure-on-kubernetes/provision.verify.sh
  consul-secure-on-kubernetes/step1.md
  consul-secure-on-kubernetes/step2.md
  consul-secure-on-kubernetes/step3.md
  consul-secure-on-kubernetes/step4.md
  consul-secure-on-kubernetes/step5.md
  consul-secure-on-kubernetes/step6.md
  consul-secure-on-kubernetes/step7.md
  consul-secure-on-kubernetes/step8.md
Labels: Consul

#171 Upgrade to Vault 1.5.0
  environments/hashistack-cluster/master/build/master-build.sh
  environments/hashistack-ent/build/1_hashicorp_tools.sh
  environments/hashistack/build/1_hashicorp_tools.sh
  environments/minikube/build/1_hashicorp_tools.sh
  vault-operations-jp/step1.md
  vault-operations-jp/step3.md
  vault-raft-ha/env-init.sh
  vault-raft-ha/step2.md
  vault-raft/env-init.sh
Labels: Vault

#172 Vault 1.5 Resource Quotas
  vault-resource-quotas/Makefile
  vault-resource-quotas/assets/Vault_Icon_FullColor.png
  vault-resource-quotas/assets/input-multiple.json
  vault-resource-quotas/assets/payload-batch.json
  vault-resource-quotas/courseBase.sh
  vault-resource-quotas/finish.md
  vault-resource-quotas/index.json
  vault-resource-quotas/intro.md
  vault-resource-quotas/step1.md
  vault-resource-quotas/step2.md
  vault-resource-quotas/step3.md
  vault-resource-quotas/step4.md
  vault-resource-quotas/terminal.sh
Labels: Vault

#173 Resource quotas - Clean up the steps
  vault-resource-quotas/assets/input-multiple.json
  vault-resource-quotas/assets/payload-batch.json
  vault-resource-quotas/index.json
  vault-resource-quotas/step1.md
  vault-resource-quotas/step4.md
  vault-resource-quotas/step5.md
Labels: Vault

#179 Update to use integrated storage instead of Consul
  vault-operations/step3.md
  vault-operations/step5.md
Labels: Vault

#180 Add a step to review the system log
  vault-raft-ha/step1.md
Labels: Vault
